<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.club.activity.mapper.ActivityApplyMapper">
    <select id="selectPendingByFounderId" resultType="com.club.activity.entity.ActivityApply">
        SELECT * FROM activity_apply
        WHERE founderId = #{founderId} AND status = 0
        ORDER BY applyTime DESC
    </select>
    <select id="selectByActivityIdAndApplicantId" resultType="com.club.activity.entity.ActivityApply">
        SELECT * FROM activity_apply
        WHERE activityId = #{activityId} AND applicantId = #{applicantId}
          AND status IN (0, 1)
    </select>
</mapper>